* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Press Start 2P', cursive;
}

main {
    width: 100%;
    display: flex;
    background-image: url("../skins/road.png");
    background-repeat: repeat;
}

.road {
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 204, 0, .9), rgba(255, 204, 0, .9));
    background-size: 1em 100%;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 1em inset #000;
}

.obstacle {
    width: 20vw;
    height: 4vw;
    background: linear-gradient(65deg,#000 20%, #ffcc00 20% 40%, #000 40% 60%, #ffcc00 60% 80%, #000 80%);
    position: absolute;
    left: 5%;
}

@keyframes down {
    0%{top:0}
    100%{top:100%}
}

.obstacle-right {
    left: 65%;
}

button {
    width: 80%;
    padding: 1em;
    border: none;
    font-size: 1em;
    color: #fff;
    background-color: #004455;
    font-family: inherit;
    font-weight: 400;
    align-self: center;
}

#restart {
    position: absolute;
    width: fit-content;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
    display: none;
}

.car {
    text-align: center;
    position: absolute;
    width: 25%;
    height: fit-content;
    left: 12.5%;
    transition: .5s;
    margin-top: auto;
    bottom: 5%;
}

.car img {
    width: 100%;
}

.car span {
    font-size:5vw;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-right {
    left: 62.5%
}

@media (pointer:none), (pointer:coarse) {
    button {
        display: none;
    }
    .car span {
        display: none;
    }
}